{% extends 'blogs/base.html' %}
{% load static %}

{% block main %}
    <body>
    <div class="container">
        <!-- Header Section -->
        <header>
            <!-- Include the navigation section -->
            {% include 'blogs/Nav.html' %}
        </header>
        <!-- Background Image -->
        <img class="bgn" src="{% static '/blog/image/bgn.jpg' %}" alt=""/>
        <!-- Article Section -->
        <section>

            {% for article in articles %}
                <div class="post">
                    <img class="post-bgn" src="{{ article.ve_thumbnail.url }}" alt=""/>
                    <h2 class="post-title">{{ article.title }}</h2>
                    <p class="post-desc">
                        {{ article.description_img|truncatewords:40 }}
                        <span class="post-desc2">
                                >>{{ article.description_img|truncatewords:20 }}
                            </span>
                        <button class="post-butt">
                            <a href="{% url 'blog:article_detail' article.slug %}">ادامه مطالب</a>
                        </button>
                    </p>
                </div>
            {% endfor %}
        </section>

        <!-- Footer Section -->
        {% include 'blogs/Footer.html' %}
    </div>
    </body>
{% endblock %}
