{% load static %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime-blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/Anime-blog.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="http://awebfont.ir/css?id=1116"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://awebfont.ir/css?id=1939"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="{% url 'blog:index' %}">خانه</a>
          <a href="{% url 'blog:best_in_month' %}">انیمه های برتر ماه</a>
          <a href="{% url 'blog:about_me' %}">درباره ما</a>
          <!-- <a href="">ارتباط باما</a> -->
          <div class="animation start-home"></div>
        </nav>
        <h1 class="header-title">Anime-blog</h1>
        <!-- <input type="text" placeholder="Search . . ." required> -->
      </header>
      <img class="bgn" src="{% static  '/blog/image/bgn.jpg' %}" alt="" />
      <section>
        {% for article in articles %}
        <div class="post">
          <img class="post-bgn" src="{{ article.ve_thumbnail.url }}" alt="" />
          <h2 class="post-title">{{ article.title }}</h2>
          <p class="post-desc">
            {{ article.description_img|truncatewords:40 }}
            <span class="post-desc2"
              >>{{ article.description_img|truncatewords:20 }}
            </span>
            <button class="post-butt">
              <a href="{% url 'blog:article_detail' article.slug %}"
                >ادامه مطالب</a
              >
            </button>
          </p>
        </div>
        {% endfor %}
      </section>
      <footer>
        <div class="footer-button">
          {% if articles.has_next %}
          <button class="btn1">
            <a href="{% url 'blog:index' articles.next_page_number %}"
              >صفحه بعدی</a
            >
          </button>
          {% endif %} {% if articles.has_previous %}
          <button class="btn1">
            <a href="{% url 'blog:index' articles.previous_page_number %}"
              >صفحه قبلی</a
            >
          </button>
          {% endif %}
        </div>
        <div class="footer-section">
          <div class="socials">
            <a
              href="https://www.linkedin.com/in/pouya-marashi-3174a025b/"
              class="fa-brands fa-linkedin"
            ></a>
            <a
              href="https://instagram.com/anime___blog?igshid=YmMyMTA2M2Y="
              class="fa-brands fa-instagram"
            ></a>
            <a
              href="https://t.me/Anime_blg"
              class="fa-solid fa-paper-plane"
            ></a>
          </div>
          <h2>Anime-blog در شبکه های اجتماعی و پیام رسان ها</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
