{% extends 'blogs/base.html' %}
{% load static %}

{% block main %}
<body>
  <div class="container">
    <header>
      <!-- Navigation -->
      {% include 'blogs/Nav.html' %}
    </header>
    <img class="bgn" src="{{ article.thumbnail.url }}" alt="">
    <main>
      <!-- Article Card -->
      <div class="card">
        <div class="item">
          <img src="{{ article.ve_thumbnail.url }}" alt="">
          <h1>{{ article.title }}</h1>
          <p>{{ article.description_img|truncatewords:70 }}</p>
        </div>
      </div>
      <section class="content">
        <!-- Article Content -->
        <h1>{{ article.title }}</h1>
        <p>{{ article.description|safe }}</p>
      </section>
      <section class="menu">
        <!-- Related Articles Menu -->
        {% for article in published_articles %}
        <span style="background-image: url('{{ article.ve_thumbnail.url }}')">
          <a href="{{ article.absolute_url }}">{{ article.title }}</a>
        </span>
        {% endfor %}
      </section>
    </main>
    {% include 'blogs/Footer.html' %}
  </div>
</body>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/css/show-detail.css' %}" />
{% endblock %}
