{% extends 'blogs/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/css/top-of-the-month.css' %}" />
{% endblock %}

{% block main %}
  <body>
    <div class="container">
      <header>
        <!-- Navigation -->
        {% include 'blogs/Nav.html' %}
      </header>
      <img class="bgn" src="{% static '/blog/image/best-bgn.jpg' %}" alt="" />
      <section>
        {% for top_month in best_in_month %}
          <!-- First Div -->
          <div class="first"></div>
          <!-- Post Div -->
          <div class="post">
            <div class="post-title"><h1>{{ top_month.title }}</h1></div>
            <div class="post-bgn">
              <img src="{{ top_month.ve_thumbnail.url }}" alt="" />
            </div>
            <div class="post-desc">
              <p>
                {{ top_month.description_img|truncatewords:6 }}
                <span class="post-desc2">>>{{ top_month.description_img|truncatewords:40 }}</span>
              </p>
            </div>
            <div class="post-butt">
              <button><a href="{% url 'blog:article_detail' top_month.slug %}">ادامه مطالب</a></button>
            </div>
          </div>
          <!-- Last Div -->
          <div class="last"></div>
        {% endfor %}
      </section>
      <!-- Footer -->
      {% include 'blogs/Footer.html' %}
    </div>
  </body>
{% endblock %}
