@font-face {
    font-family: 'B Yekan';
    src: url('/static/blog/fron_reza/Yekan.ttf');

}

@font-face {
    font-family: 'B Yekan';
    src: url('/static/blog/fron_reza/BYekan.woff');
}

@font-face {
    font-family: 'B Yekan';
    src: url('/static/blog/fron_reza/BYekan.woff2');
}

@font-face {
    font-family: '0 Titr Bold';
    src: url('/static/blog/fron_reza/TitrBold.woff');

}

@font-face {
    font-family: '0 Titr Bold';
    src: url('/static/blog/fron_reza/TitrBold.ttf');
}

@font-face {
    font-family: '0 Titr Bold';
    src: url('/static/blog/fron_reza/TitrBold.woff2');
}
